---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if site.hastag %} {{site.hashtag}} | {% endif %} {% if site.name %} {{site.name}} | {% endif %} {{ site.utc | date: "%B %-d, %Y" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="">
    <meta property="og:image" content="{{site.logo}}"/>
    <meta property="og:title" content="{{site.hashtag}} | {{ site.utc | date: "%B %-d, %Y" }}"/>
    <meta property="og:url"  content="{{site.url}}"/>
    <meta property="og:type"  content="website"/>

    <!-- Font from google -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <!-- bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- countdown css -->
    <link rel="stylesheet" href="assets/css/jquery.countdown.css">
    <!-- custom styles -->

    <!-- Uncomment this line when testing locally -->
    <link rel="stylesheet" href="assets/css/custom.style.css">

    <!-- <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/jquery.countdown.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.style.css" | prepend: site.baseurl }}"> -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7X7Q9SJZ42"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7X7Q9SJZ42');
    </script>
    
    <style>
      .center {
        text-align: center;
      }
      </style>
  </head>

  <body>

    <div class="row">
      <div class="col-sm-12 text-center">
                <h1 class="background-highlight">
                    <a style="color: #000000; text-decoration: none" href="{{site.externalLink}}">{{site.name}}</a>
                  </h1>         
      </div>
    </div> <!-- /row -->

    <div class="row">
      <div class="col-sm-12 text-center">
        <div>{% include carousel.html height="55" unit="%" duration="10" %}</div>
      </div>
    </div>
  

    <!-- javascript includes
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jquery  -->
    <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script>

    <!-- countdown code -->
    <script src="assets/js/jquery.countdown.min.js"></script>

    <!-- start the countdown when the page loads -->
    <script type="text/javascript">
  		$(function () {
  			var holiday = new Date();
  			holiday = new Date("{{site.utc}}");
  			$('#defaultCountdown').countdown({until: holiday, timezone: -4});
  			$('#year').text(holiday.getFullYear());
  		});
		</script>
    <!-- end of javascript includes  -->
    <!-- <div class="center">
      <h3">Add your congrats through our <a href="https://forms.gle/rpYf6LhkbuDQ3hQBA">Google Form</a></h3>
    </div> -->
    
  </body>
</html>
